* {
  font-family: "Press Start 2P", cursive;
  font-weight: lighter;
  color: white;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(45deg, rgb(2, 2, 95), rgb(77, 1, 77));
}

header {
  border-bottom: 2px solid white;
  padding: 15px;
  display: flex;
  justify-content: left;
  background-color: black;
  position: fixed;
  top: 0px;
  width: 97vw;
  z-index: 999;
}
header ul {
  display: flex;
  list-style: none;
  padding: 0px;
}
header ul li {
  width: 120px;
  text-align: center;
}
header ul a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}
header ul div {
  position: absolute;
  border-bottom: white solid;
  width: 0px;
  transition: all 0.5s ease-in-out;
}
header ul a:hover ~ div {
  width: inherit;
}
header .cor {
  position: absolute;
  right: 3vw;
  width: 25px;
  cursor: pointer;
}
header select {
  position: absolute;
  right: 8vw;
  color: black;
  font-size: 10px;
}
header select option {
  color: black;
  font-size: 10px;
}

section {
  height: 100vh;
  padding: 20px;
  scroll-margin-top: 50px;
}

@-webkit-keyframes move {
  0% {
    margin-left: 500px;
  }
  50% {
    margin-left: 0px;
  }
  100% {
    margin-left: 40px;
  }
}

@keyframes move {
  0% {
    margin-left: 500px;
  }
  50% {
    margin-left: 0px;
  }
  100% {
    margin-left: 40px;
  }
}
@-webkit-keyframes sobe {
  0% {
    padding-top: 100px;
    opacity: 0;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes sobe {
  0% {
    padding-top: 100px;
    opacity: 0;
  }
  100% {
    padding-top: 0px;
  }
}
#home {
  background-image: url(img/web-designer-and-programmer-free-vector.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0 0 0;
  display: flex;
}
#home .blur {
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin: 0;
  padding: 10px;
  display: flex;
}
#home .blur h1 {
  margin: 35vh 0;
  width: 50vw;
  text-align: center;
}
#home .blur h1 span {
  text-decoration: underline;
}
@-webkit-keyframes perfil {
  0% {
    background-position-y: 50px;
  }
  50% {
    background-position-y: 70px;
  }
  100% {
    background-position-y: 50px;
  }
}
@keyframes perfil {
  0% {
    background-position-y: 50px;
  }
  50% {
    background-position-y: 70px;
  }
  100% {
    background-position-y: 50px;
  }
}
@-webkit-keyframes perfil-texto {
  0% {
    margin-left: 200px;
  }
  50% {
    margin-left: -100px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes perfil-texto {
  0% {
    margin-left: 200px;
  }
  50% {
    margin-left: -100px;
  }
  100% {
    margin-left: 0px;
  }
}
#home .blur div {
  float: right;
  font-size: 10px;
  text-align: center;
  line-height: 13px;
  -webkit-animation: perfil 1s ease-in-out infinite;
          animation: perfil 1s ease-in-out infinite;
  background-image: url(img/ReadyPlayerMe-Avatar\ \(1\).png);
  background-repeat: no-repeat;
  background-size: 500px;
}
#home .blur div h4 {
  width: inherit;
  margin-top: 50px;
  -webkit-animation: perfil-texto 1s ease-in-out;
          animation: perfil-texto 1s ease-in-out;
}

#problema {
  display: flex;
  flex-wrap: wrap;
  background-image: url(img/gif-4mb.gif);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}
#problema h1 {
  width: 50vw;
  text-align: center;
  margin-top: 100px;
  font-size: xx-large;
  font-weight: bold;
  color: black;
  transition: all 0.5s;
}
#problema img {
  width: 40vw;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

#solucao {
  display: flex;
  background-image: url(img/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#solucao h1 {
  width: 50vw;
  text-align: center;
  transition: all 0.5s;
}
#solucao h1:nth-child(1) {
  margin-top: 100px;
  margin-left: 0px;
}
#solucao h1:nth-child(2) {
  margin-top: 300px;
  margin-right: 40px;
}
#solucao a:hover {
  color: yellow;
}

#sobre {
  position: relative;
  background-image: url(img/ReadyPlayerMe-Avatar.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 50vw;
  background-position-y: bottom;
  transition: all 1s;
}
#sobre h1 {
  font-size: 30px;
  margin-left: 40px;
  -webkit-animation: move 1s ease-in-out;
          animation: move 1s ease-in-out;
}
#sobre ul {
  margin-top: 20vh;
}
#sobre li {
  font-size: 15px;
  width: 50vw;
  margin-left: 40px;
}
#sobre li:nth-child(1) {
  -webkit-animation: move 1.5s ease-in-out;
          animation: move 1.5s ease-in-out;
}
#sobre li:nth-child(2) {
  margin-top: 10px;
  -webkit-animation: move 1.9s ease-in-out;
          animation: move 1.9s ease-in-out;
}
#sobre li:nth-child(3) {
  margin-top: 10px;
  -webkit-animation: move 2.3s ease-in-out;
          animation: move 2.3s ease-in-out;
}
#sobre a:hover {
  color: yellow;
  transition: all 0.5s;
}

#hab {
  display: flex;
  background-image: url(img/ReadyPlayerMe-Avatar\ \(2\).png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: -6vw;
  background-position-y: bottom;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#hab h1 {
  font-size: 30px;
  margin-left: 40px;
  position: absolute;
  transition: all 1s;
}
#hab div {
  display: flex;
  flex-direction: column;
  margin: 100px 0px 0px 50px;
}
#hab div img {
  -o-object-fit: contain;
     object-fit: contain;
  width: inherit;
  height: 50px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.5s;
}
#hab div img:hover {
  scale: 1.1;
  background-color: rgba(0, 0, 0, 0.507);
}
#hab div:nth-of-type(1) {
  width: 300px;
}
#hab div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  height: 500px;
  border-left: solid;
}
#hab div:nth-of-type(2) h1 {
  font-size: 20px;
}

#proj {
  display: flex;
  flex-direction: column;
  background-image: url(img/ReadyPlayerMe-Avatar\ \(3\).png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 50vw;
  background-position-y: center;
}
#proj h1 {
  font-size: 30px;
  margin-left: 40px;
  position: absolute;
  transition: all 1s;
}
#proj ul {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
#proj ul li {
  width: 250px;
  margin: 10px;
  transition: all 0.5s;
}
#proj ul li p {
  text-align: center;
}
#proj ul li img {
  width: inherit;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
#proj ul li:hover {
  scale: 1.1;
  cursor: pointer;
}
@-webkit-keyframes gira {
  from {
    rotate: x 360deg;
  }
  to {
    rotate: x 0deg;
  }
}
@keyframes gira {
  from {
    rotate: x 360deg;
  }
  to {
    rotate: x 0deg;
  }
}
#proj ul li:nth-of-type(1) {
  -webkit-animation: gira 1s ease-in-out;
          animation: gira 1s ease-in-out;
}
#proj ul li:nth-of-type(2) {
  -webkit-animation: gira 1.5s ease-in-out;
          animation: gira 1.5s ease-in-out;
}
#proj ul li:nth-of-type(3) {
  -webkit-animation: gira 2s ease-in-out;
          animation: gira 2s ease-in-out;
}
#proj ul li:nth-of-type(4) {
  -webkit-animation: gira 2.5s ease-in-out;
          animation: gira 2.5s ease-in-out;
}
@-webkit-keyframes apmodal {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  50% {
    opacity: 1;
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
@keyframes apmodal {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  50% {
    opacity: 1;
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
#proj aside {
  margin-top: 100px;
  width: 400px;
  height: 200px;
  position: absolute;
  left: 35vw;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  background-color: rgb(48, 0, 48);
  display: none;
}
#proj aside h1 {
  background-color: purple;
  width: 380px;
  margin: 0;
  text-align: center;
  position: static;
  padding: 10px;
  -webkit-animation: none;
          animation: none;
  font-size: 20px;
}
#proj aside h2 {
  position: absolute;
  top: -13px;
  right: -13px;
  z-index: 999;
  border-radius: 50%;
  background-color: red;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
}
#proj aside h2:hover {
  background-color: palevioletred;
}
#proj aside a {
  margin: 30px 0 0 0;
  background-color: purple;
  padding: 10px;
  transition: all 0.5s;
}
#proj aside a:hover {
  background-color: rgb(175, 0, 175);
}

#cont {
  background-image: url(img/wave-bye.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: left;
  background-position-y: bottom;
  background-size: 200px;
}
#cont h1 {
  font-size: 20px;
  margin-left: 40px;
  position: absolute;
  -webkit-animation: move 1s ease-in-out;
          animation: move 1s ease-in-out;
}
#cont div {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}
#cont a {
  margin: 0px auto;
  text-decoration: none;
  text-align: center;
}
#cont img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
  height: 100px;
}

@-webkit-keyframes expande {
  0% {
    scale: 0.5;
  }
  50% {
    scale: 1.3;
  }
  100% {
    scale: 1;
  }
}

@keyframes expande {
  0% {
    scale: 0.5;
  }
  50% {
    scale: 1.3;
  }
  100% {
    scale: 1;
  }
}
.menu {
  display: none;
  filter: invert(100);
}

@media (max-width: 800px) {
  .menu {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  header {
    flex-direction: column;
  }
  header ul {
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    transition: all 0.5s;
    z-index: -1;
    width: 98vw;
    position: absolute;
    margin-top: -200px;
    left: 0;
    background-color: black;
  }
  header ul li {
    padding: 10px;
  }
  header .cor {
    right: 20vw;
  }
  header select {
    right: 30vw;
  }
  section {
    height: auto;
    scroll-margin-top: 0;
  }
  #home .blur {
    flex-direction: column;
    height: 900px;
  }
  #home .blur h1 {
    margin: 50px auto;
  }
  #home .blur div {
    height: 550px;
    background-size: 400px 500px;
    background-position-x: center;
    background-position-y: bottom;
  }
  #home .blur div h4 {
    width: 90vw;
    margin: 30px auto;
  }
  #problema h1 {
    margin: 0 auto;
  }
  #solucao {
    flex-direction: column;
    align-items: center;
  }
  #solucao h1 {
    margin: 50px !important;
  }
  #hab div:nth-of-type(1) {
    padding: 0px;
    margin: 100px 0 0 0;
    width: 150px;
  }
  #proj ul {
    margin: 60px 0 0 0;
  }
  #proj aside {
    left: 15vw;
  }
  #cont {
    height: 70vh;
  }
}
@media (max-width: 500px) {
  #sobre {
    background-position-x: 30vw;
  }
  #sobre ul, #sobre li {
    width: 80vw;
    margin: 50px 0;
  }
  #problema h1 {
    width: 80vw;
  }
  #solucao h1 {
    width: 80vw;
  }
  #hab {
    flex-direction: column;
    background-position-x: 200px;
  }
  #hab div:nth-of-type(1) {
    width: 90vw;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #hab div:nth-of-type(1) img {
    width: 100px;
  }
  #hab div:nth-of-type(2) {
    margin: 0px;
  }
  #proj {
    background-position-x: left;
    background-position-y: bottom;
  }
  #proj li {
    width: 80vw !important;
  }
  #proj aside {
    left: 5px;
    width: 90vw;
  }
  #proj aside h1 {
    font-size: 5vw;
  }
  #proj aside h2 {
    top: -40px;
    right: 50vw;
  }
  #cont {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #cont div {
    margin-top: 180px;
  }
}/*# sourceMappingURL=style.css.map */